header{display: flex;justify-content: space-between;padding: 25px 50px;}
header .mid{display: flex;justify-content: center;}
header .mid .phone{margin-right: 20px;}
header .search{height: 42px;width: 420px;border: 1px solid #BE946D;white-space: nowrap;margin-top: 1px;}
header .search .text{height: 100%;width: calc(100% - 74px);border: none;vertical-align: top;padding-left: 10px;font-size: 15px;}
header .search .btn{height: 100%;width: 60px;border: none;background: #e3d0bd url(../images/search.png) center center no-repeat;}
header .nav{display: flex;justify-content: space-around;}
header .nav li{padding: 0 15px;margin-right: 2em;font-size: 20px;line-height: 42px;white-space: nowrap;}
header .nav li:last-child{margin-right: 0;}
header .nav li:hover,
header .nav li.on{background:#e3d0bd;}
header .nav li.new{position: relative;}
header .nav li.new::after{content: '';background: red;position: absolute;top: -6px;right: -6px;width: 12px;height: 12px;border-radius: 50%;}
header .nav li a{color: #000;}
header .nav li.on a,
header .nav li:hover a{color:#BE946D;}
.language{position: fixed;bottom: 30px;right: 30px;cursor: pointer;}
.fixed-dots{position: fixed;bottom: 20px;left: 20px;cursor: pointer;}
.fixed-dots li{margin-top: 10px;}

.container{padding: 30px;}
.bg{background-position:100%;background-repeat: no-repeat;background-size: cover;height: calc(100% - 95px);}
.box{background: #fff;border:10px solid rgba(237, 224, 213,0.8);border-radius: 10px;box-shadow: 4px 2px 5px rgba(153,105,51,0.75);}
.box-lg{background: #fff;border:25px solid rgba(237, 224, 213,0.8);border-radius: 50px;box-shadow: 6px 15px 20px rgba(153,105,51,0.75);}
.box-lg h2{font-size: 46px;font-weight: lighter;letter-spacing: 10px;margin-bottom: 30px;font-family: '宋体';}
.box-lg .ctn{font-size: 20px;line-height: 46px;letter-spacing: 5px;}
.btn-gold{background: url(../images/icon32.png) center no-repeat;background-size: cover;width: 276px;height: 46px;border-radius: 12px;line-height: 46px;color: #fff;box-shadow: 0px 5px 15px#deb06a;display: inline-block;}

.slick-arrow{font-size: 0;cursor: pointer;background-repeat: no-repeat;background-color: transparent;border: none;width: 113px;height: 113px;position: absolute;z-index: 2;}
.slick-prev{background-image: url(../images/arrl.png);left: 0;}
.slick-next{background-image: url(../images/arrr.png);right: 0px;}


/* login */
.login .container{padding: 7em 30px 0;}
.login .left{display: inline-block;width: 59%;text-align: center;}
.login .right{display: inline-block;width: 40%;vertical-align: top;}
.login .right .panel{margin-top: 4em;text-align: center;background: #e8e1dd;position: relative;border-radius: 20px;padding: 6em 5em 4em;width:340px;}
.login .right .panel .user-pic{position: absolute;left: 50%;top: -65px;transform: translateX(-75px);}
.login .right .tab-nav li{border-bottom: 2px solid #e8e1dd;color: #c29b77;line-height: 26px;margin-right: 20px;}
.login .right .tab-nav li.on{border-bottom-color:#be956e;}
.login .right .tab-item{margin-top: 3em;text-align: left;}
.login .right .el-form{background: #fff;border-radius: 12px;box-shadow: 4px 8px 15px #cdae90;padding: 10px 15px;margin-bottom: 3em;line-height: 30px;}
.login .right .el-form .icon{vertical-align: middle;border-right: 2px solid #c0c0c0;padding-right: 10px;display: inline-block;height: 16px;margin-right: 10px;}
.login .right .el-form .icon img{margin-top: -6px;}
.login .right .el-form input{border: none;width: calc(100% - 132px);color: #c29b77;}
.login .right .el-form .el-right img{vertical-align: middle;cursor: pointer;}
.login .right .el-form .link{font-size: 12px;}
.login .right .go-login{font-size: 18px;letter-spacing: 20px;margin: 20px;display: inline-block;}
.login .right .tips{font-size: 12px;color: #c6a281;}
.login .right .tips.m-b{margin-bottom: 30px;}
.login .right .tips a{display: inline-block;padding:0 10px;}
.login .right .login-way{display: flex;margin-top: 4em;}
.login .right .login-way li{border: 1px solid #c6a383;border-radius: 8px;padding: 0px 10px;margin: 2px;line-height: 36px;}
.login .right .login-way li img{vertical-align: middle;margin-right: 5px;}

/* regist */
.regist .form{text-align: left;}
.regist .right{margin-top: -5em;}
.regist .right .tit{color: #c29b77;margin-bottom: 20px;}
.regist .right .el-form{margin-bottom: 1.6em;position: relative;}
.regist .right .el-form input{width: calc(100% - 70px);}
.regist .right .el-form .btn-sex{cursor: pointer;}
.regist .right .el-form .sex{display: none;position: absolute;width: calc(100% - 75px);background: #fff;right: 0;padding: 5px 10px;border-radius: 10px;top: 35px;}




/* index */
.index{background-image: url(../images/bg1.png);display: flex;justify-content: space-around;}
.index .left{width: 36%;}
.index .slogn{margin-top: 24%;}

/* notice */
.notice{background-image: url(../images/bg2.png);}
.notice .pic{display: inline-block;width: 35%;min-width: 500px;text-align: center;vertical-align: bottom;}
.notice .list{display: inline-block;width: 52%;min-width: 500px;padding-top: 5%;}
.notice .list .box{margin-bottom: 38px;padding: 30px;font-size: 22px;}
.notice .list span{font-size: 14px;color: #ababab;float: right;margin-top: 5px;}

.notice-detail{background-image: url(../images/bg3.png);}
.notice-detail .container{padding: 20px 12%;}
.notice-detail h1{font-size: 56px;color: #754C24;text-align: center;letter-spacing: 0.8em;margin-bottom: 40px;}
.notice-detail .box-lg{padding: 20px 40px 40px;text-align: center;}
.notice-detail .time{text-align: right;color: #ababab;}
.notice-detail h2{font-size: 32px;color: #603813;margin-bottom: 25px;font-weight: bold;}
.notice-detail p{font-size: 18px;color: #846239;line-height: 40px;text-align: left;text-indent: 44px;letter-spacing: 4px;max-height: 160px;overflow-y: auto;}
.notice-detail p::-webkit-scrollbar {width: 3px;}
.notice-detail p::-webkit-scrollbar-track{background-color: rgba(0,0,0,0.1);}
.notice-detail p::-webkit-scrollbar-thumb{border-radius: 5px;background: rgba(190,148,109,0.6);}
.notice-detail .link{display: inline-block;background: #BE946D;color: #fff;padding: 10px 25px;font-size: 18px;border-radius: 10px;letter-spacing: 8px;margin-top: 20px;}

/* forum */
.forum{background-image: url(../images/bg8.png);background-repeat: repeat-y;background-position: left top;background-size: initial;min-height: calc(100% - 95px);height: auto;}
.forum .dk{vertical-align: top;transition: all 0.5s Linear;margin-top: 45px;}
.forum .left{width:355px;overflow: hidden;background: #DBC091;border-radius: 36px;text-align: center;padding: 1em 3em 3.5em 4em;box-sizing: border-box;white-space: nowrap;}
.forum .left.open{width: 0%;padding: 0;min-height: 750px;}
.forum .left .name{margin: 20px 0 50px 70px;text-align: left;font-family: '宋体';}
.forum .left h3{font-size: 28px;font-weight: normal;letter-spacing: 4px;margin-bottom: 10px;}
.forum .left .static{display: flex;justify-content: space-between;line-height: 32px;margin-bottom: 20px;}
.forum .left .static li .num{color:#754C24;font-size: 28px;display: block;font-weight: 600;margin-bottom: 10px;}
.forum .left .menu li{text-align: left;border: 1px dashed #a98f66;padding: 10px 20px;border-radius: 10px;margin: 15px;font-size: 18px;line-height: 36px;}
.forum .left .menu li img{vertical-align: middle;margin-right: 10px;}
.forum .left .menu li font{float: right;font-size: 14px;}
.forum .left .btn-gold{margin: 2em 0 3.8em;width: 180px;font-size: 18px;font-family: '宋体';letter-spacing: 3px;}
.forum .left .btn-gold img{vertical-align: middle;margin-right: 20px;}

.forum .right{width: calc(100% - 360px);padding: 0px 10%;box-sizing: border-box;position: relative;}
.forum .right.open{width: 98%;}
.forum .right .folder{position: absolute;left: -25px;top: 25em;transition: all 0.5s Linear;}
.forum .right.open .folder{transform: rotateZ(180deg);left: -10px;}
.forum .right .top{justify-content: space-between;display: flex;border-bottom: 20px solid #e2cbaf;padding-bottom: 10px;margin-bottom: 3em;}
.forum .right .tab-nav{display: flex;font-size: 18px;align-items: flex-end;}
.forum .right .tab-nav li{color: #754c24;border: 2px solid #754c24;margin: 6px;border-radius: 10px;padding: 1px 20px;line-height: 36px;height: 36px;}
.forum .right .tab-nav li.on{color: #fff;background: #754c24;}
.forum .right .panel{background: rgba(237,224,213,.7);padding: 20px;box-shadow: 10px 10px 20px rgba(153,105,51,0.55);border-radius: 30px;margin-bottom: 35px;}
.forum .right .base-box{background: #fff;border-radius: 30px;display: flex;padding: 40px 30px 10px;}
.forum .right .uer-pic{width: 120px;margin-top: -15px;}
.forum .right .uer-info{width: calc(100% - 120px);}
.forum .right .uer-info h3{font-size: 28px;font-weight: normal;letter-spacing: 4px;margin-bottom: 10px;font-family: '宋体';}
.forum .right .uer-info .time{color: #999;}
.forum .right .uer-info .ctn{line-height: 24px;margin: 25px 0;color: #a78f71;font-size: 18px;}
.forum .right .pic-list .img{margin-right: 10px;display: inline-block;width: 120px;height: 120px;background: #f1e7de;}
.forum .right .uer-info .options{display: flex;justify-content: flex-end;margin-top: 2em;align-items: baseline;color: #ababab;}
.forum .right .uer-info .options li{font-size: 16px;padding: 20px;cursor: pointer;}
.forum .right .uer-info .options img{margin-right: 8px;vertical-align: bottom;}
.forum .right .uer-info .options font{margin-left: 8px;}

.forum .right .comment-box{padding: 36px 30px 0;position: relative;display: none;}
.forum .right .panel.on .comment-box{display: block;}
.forum .right .comment-box::before{content: '';position: absolute;top: -25px;right: 240px;border-top: 6px solid transparent;border-left: 13px solid transparent;border-right: 13px solid transparent;border-bottom: 20px solid #f1e8de;}
.forum .right .edit-box{display: flex;border-bottom:2px solid #b69e86;padding-bottom: 40px;}
.forum .right .photo{width: 70px;padding-right: 20px;}
.forum .right .edit-zone{flex: 1;}
.forum .right .edit-zone textarea{width: 100%;border: 2px solid#b49978;border-radius: 10px;height: 58px;resize: none;}
.forum .right .edit-zone .tips{display: flex;justify-content: space-between;padding-top: 15px;}
.forum .right .edit-zone ul li{display: inline-flex;padding-right: 20px;cursor: pointer;}
.forum .right .edit-zone .submit{background: #b4997b;color: #fff;height: 40px;line-height: 40px;padding: 0 42px;font-size: 18px;border-radius: 10px;}
.forum .right .comment-tab{color: #BE946D;font-size: 16px;padding: 15px 50px;} 
.forum .right .comment-list .item2{display: flex;padding: 20px 0;border-top: 2px solid#b49978;}
.forum .right .comment-list .item2:first-child{border: none;}
.forum .right .comment-list .item2 .info{flex: 1;padding: 10px 0;}
.forum .right .comment-list .item2 .user{font-size: 20px;vertical-align: bottom;letter-spacing: 4px;}
.forum .right .comment-list .item2 .level{font-weight: bold;background: url(../images/icon11.png) no-repeat;width: 4px;display: inline-block;margin-right: 10px;height: 24px;padding-left: 33px;}
.forum .right .comment-list .item2 .level1{background-position: 0 0;}
.forum .right .comment-list .item2 .level2{background-position: -36px 0;}
.forum .right .comment-list .item2 .level3{background-position: -72px 0;}
.forum .right .comment-list .item2 .level4{background-position: -108px 0;}
.forum .right .comment-list .item2 .level5{background-position: -144px 0;}
.forum .right .comment-list .item2 .level6{background-position: -180px 0;}
.forum .right .comment-list .item2 .ctn{font-size: 16px;}
.forum .right .comment-list .item2 .other{display: flex;justify-content: space-between;margin-top: 10px;}
.forum .right .comment-list .item2 .time{color:#ABABAB;}
.forum .right .comment-list .item2 .sub-tips span{cursor: pointer;}
.forum .right .comment-list .item2 .sub-tips .reply{border-right: 1px solid #b49978;padding-right: 15px;margin-right: 15px;}
.forum .right .comment-list .item2 .sub-tips img{vertical-align: bottom;margin-bottom: 2px;}
.forum .right .reply-list{background: rgba(117,76,36,.11);border-radius: 10px;margin-top: 15px;padding: 16px 20px;}
.forum .right .comment-list .item2 .more{font-size: 16px;text-align: center;display: block;margin-top: 25px;}

/* product */
.product{background-image: url(../images/bg5.png);}
.product .left{display: inline-block;width: 54%;vertical-align: top;}
.product .left .box-lg{margin: 8% 2% 0 8%;padding: 35px 40px;}
.product .left .box-lg h2{letter-spacing: 0.25em;}
.product .left .box-lg .ctn{text-indent: 2em;}
.product .right{display: inline-block;width: 45%;overflow: hidden;}
.product .right .slick{position: relative;margin: 25px;}
.product .right .pic{display: inline-block;padding: 80px 0.7% 0;text-align: center;}
.product .right .slick-prev{bottom: 70px;}
.product .right .slick-next{right: 30px;bottom: 70px;}

/* play-show */
.play-show{background-image: url(../images/bg6.png);}
.play-show .container{padding: 120px 100px 0;}
.play-show .item .df{justify-content: space-between;}
.play-show .item .left{width: 43%;}
.play-show .item .left > div{position: relative;padding-left: 11%;}
.play-show .item .slick-list{overflow: hidden;}
.play-show .item .slick-prev{bottom: -4em;left: 15px;}
.play-show .item .slick-next{top: 100px;right: -30px;}
.play-show .item .box-lg{width: 43%;padding: 30px;margin-bottom: 20px;}
.play-show .box-lg .ctn{max-height: 288px;overflow: auto;}

.play-show .item .box-lg .ctn::-webkit-scrollbar {width: 5px;}
.play-show .item .box-lg .ctn::-webkit-scrollbar-track{background-color: rgba(277,208,189,0.2);}
.play-show .item .box-lg .ctn::-webkit-scrollbar-thumb{border-radius: 5px;background: rgba(190,148,109,0.4);}

.play-show .tab-nav{display: flex;margin-left: 50%;font-size: 24px;align-items: center;letter-spacing: 0.35em;color: #8e6d4c;margin-top: 15px;}
.play-show .tab-nav li{padding-right: 30px;cursor: pointer;}
.play-show .tab-nav li img{max-height: 32px;}
.play-show .tab-nav .on img{font-size: 32px;max-height: 48px;}

/* buy */
.buy{background-image: url(../images/bg4.png);}
.buy .container{padding: 0;height: 100%;}
.buy .left{display: inline-block;width: 42%;overflow: hidden;height: calc(100% - 5px);position: relative;}
.buy .left .tit{writing-mode: vertical-lr;color: #f2e9e0;font-size: 44px;font-weight: bold;position: absolute;}
.buy .left .tit:first-child{left: 18%;bottom: 0;}
.buy .left .tit:last-child{right: 7%;top: 10px;}
.buy .left .slick{padding: 20% 15% 20% 27%;}
.buy .left .slick img{margin: 15px;}
.buy .left .slick-prev {background-image: url(../images/arrt.png);right: 60px;bottom: 140px;left: auto;}
.buy .left .slick-next {background-image: url(../images/arrb.png);right: 60px;bottom: 45px;}

.buy .right{display: inline-block;width: 57.5%;box-sizing: border-box;vertical-align: top;margin-top: 4em;padding-left: 50px;}
.buy .right h2{font-size: 36px;color: #91724e;letter-spacing: 5px;line-height: 60px;}
.buy .right .sub-tit{position: relative;margin-top: 20px;padding: 25px 0;}
.buy .right .sub-tit::before{content: '';width: 100px;height: 4px;position: absolute;top: 0;left: 0;background: #846239;}
.buy .right .price{background: url(../images/bg10.png) 0 0 no-repeat;width: 78.2%;line-height: 48px;font-size: 18px;padding: 5px 20px;color: #a98f66;}
.buy .right .price font{font-size: 36px;letter-spacing: 3px;}
.buy .right .tab-nav{margin: 40px 0 25px;}
.buy .right .tab-nav li{display: inline-block;border: 1px solid #846239;border-radius: 15px;padding: 15px 50px;cursor: pointer;font-size: 20px;letter-spacing: 4px;margin-right: 20px;}
.buy .right .tab-nav li.on{border-width: 4px;}
.buy .right .tab-item img{max-width: 150px;margin-right: 15px;}
.buy .right .num{margin-top: 30px;margin-left: -60px;font-size: 16px;color: #846239;display: inline-block;position: relative;}
.buy .right .num input{border: 1px solid #e4d7c8;line-height: 32px;padding: 5px 10px;width: 32px;font-size: 25px;text-align: center;margin-left:10px;color: #846239;}
.buy .right .num .iconfont{border: 1px solid #e4d7c8;padding: 2px 5px;position: absolute;right: 25px;line-height: 18px;cursor: pointer;}
op.buy .right .num .iconfont.top{top: 0;}
.buy .right .num .iconfont.bot{bottom: 0;}
.buy .right .num .unit{margin-left: 40px;}
.buy .right .go-buy{padding: 10px;margin-left: -13px;margin-top: 20px;display: inline-block;}
.buy .right .btn-gold{text-align: center;font-size: 24px;letter-spacing: 0.5em;height: 56px;line-height: 60px;}

/* contact us */
.contact{background-image: url(../images/bg7.png);}
.contact .container{display: flex;padding: 40px;align-items: center;}
.contact .left{flex: 2;font-family: 'YouYuan';}
.contact .left h3{font-size: 36px;padding-left: 20%;padding-bottom: 70px;font-weight: 400;letter-spacing: 0.25em;}
.contact .left li{font-size: 20px;padding-bottom: 25px;padding-left: 20%;}
.contact .left li > span{display: inline-block;width: 62px;vertical-align: middle;padding-right: 40px;}
.contact .middle{flex: 2;margin-top: 150px;}
.contact .right{flex: 1;text-align: center;}
.contact .right .qcode{margin-top: 20px;padding-right: 120px;}
.contact .right .qcode:first-child{margin-bottom: 130px;}
.contact .right h5{font-size: 16px;margin: 30px 0 10px;}

/* payment */
.pay-bg{background: url(../images/bg9.png) no-repeat;background-size: cover;height: 76px;padding-left: 4em;color: #814B1B;font-size: 21px;line-height: 74px;letter-spacing: 0.2em;}
.payment{width: 920px;margin: auto;margin-top: 6.5em;}
.payment .top{background: #FFF5E8;border: 1px solid #A67B4E;border-radius: 15px;padding: 20px 36px;position: relative;padding-left: 200px;}
.payment .top>img{position: absolute;top: -59px;left: 40px;}
.payment .top .h3{font-size: 24px;margin-bottom:10px;letter-spacing: 0.2em;color: #814B1B;}
.payment .top .h3 font{font-size: 16px;margin-left: 10px;letter-spacing: 0;}
.payment .top .edit{position: absolute;right: 38px;top: 32px;}
.payment .top .edit span{margin-bottom: 15px;margin-right: 15px;display: inline-block;color: #CC946B;vertical-align: middle;}

.payment .mid{border: 1px solid #A67B4E;border-radius: 15px;padding: 30px 36px;margin: 20px 0;}
.payment .mid .pic{display: inline-block;width: 210px;}
.payment .mid .info{display: inline-block;width: calc(100% - 250px);margin-left: 35px;}
.payment .mid .h2{color:#814B1B;font-size: 24px;line-height: 32px;margin-bottom: 7px;letter-spacing: 0.18em;}
.payment .mid .h2.num{display: flex;justify-content: space-between;}
.payment .mid .number{color: #C4C4C4;font-size: 12px;}
.payment .mid .number .dk{font-size: 22px;border: 1px solid #ccc;border-radius: 6px;cursor: pointer;display: inline-flex;}
.payment .mid .number .dk em{width: 30px;font-style: normal;text-align: center;padding-left: 3px;}
.payment .mid .number .txt{color: #000;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.payment .mid .tips{color: #FFA82B;font-size: 12px;margin: 5px 0 20px;}
.payment .mid .tips2{font-size: 12px;line-height: 22px;}
.payment .mid .tips2 .tit{display: inline-block;width: 66px;color: #814B1B;letter-spacing: 2px;}
.payment .mid .tips2 .txt{display: inline-block;color: #C4C4C4;}
.payment .mid .tips2 .fr{cursor: pointer;}
.payment .mid .tips2 input{border: none;}
.payment .mid .tips2 ::-webkit-input-placeholder{color:#C4C4C4;}
.payment .mid .tips2 :-moz-input-placeholder{color:#C4C4C4;}
.payment .mid .tips2 ::-moz-input-placeholder{color:#C4C4C4;}
.payment .mid .tips2 :-ms-input-placeholder{color:#C4C4C4;}

.payment .bot{margin-top: 3em;}
.payment .bot .pay-btn{background: #3F3B39;color: #fff;font-size: 32px;width: 340px;line-height: 72px;text-align: center;border-radius: 15px;margin: auto;cursor: pointer;}
.payment .bot .pay-way{display: flex;width: 330px;margin: 10px auto;}
.payment .bot .pay-way li{padding: 6px;cursor: pointer;}
.payment .bot .pay-way.btn{width: 520px;}
.payment .bot .pay-way.btn li{padding: 6px 20px;}

/* edit-address */
.edit-address{width: 920px;margin: auto;font-size: 22px;}
.edit-address .form{margin-top: 5em;border: 1px solid #A67B4E;border-radius: 15px;padding: 2em 0 1em;position: relative;}
.edit-address .form .top{position: absolute;top: -82px;left: 20px;}
.edit-address .form .top .h3{font-size: 24px;vertical-align: bottom;display: inline-block;margin: 0 0 40px 20px;letter-spacing: 0.2em;color: #814B1B;}
.edit-address .el-form{border-bottom: 1px solid #c4c4c4;line-height: 68px;margin: 0 70px;}
.edit-address .el-form.no-border{border: none;}
.edit-address .el-form .tit{display: inline-block;min-width: 140px;letter-spacing: 0.1em;}
.edit-address .el-form input{border: none;font-size: 20px;}
.edit-address ::-webkit-input-placeholder{color:#C4C4C4;letter-spacing: 0.1em;}
.edit-address :-moz-input-placeholder{color:#C4C4C4;letter-spacing: 0.1em;}
.edit-address ::-moz-input-placeholder{color:#C4C4C4;letter-spacing: 0.1em;}
.edit-address :-ms-input-placeholder{color:#C4C4C4;letter-spacing: 0.1em;}
.edit-address .el-form .num{font-size: 18px;color: #ACACAC;margin-top: 20px;margin-right: 15px;font-family: '宋体';cursor: pointer;}
.edit-address .el-form.intell{background: #F3F3F3;margin: 0;padding: 9px 70px;border: none;height: 36px;line-height: 36px;overflow: hidden;transition: height 0.5s linear;}
.edit-address .intell .iconfont{color: #AA7D4F;font-size: 22px;cursor: pointer;transition: all 0.3s linear;}
.edit-address .intell textarea{border-radius: 15px;padding: 10px 20px;margin-top: 10px;border: none;font-size: 16px;resize:none}
.edit-address .intell.on {height: 180px;}
.edit-address .intell.on .tit{color: #FFA82B;}
.edit-address .intell.on .iconfont{transform: rotateZ(-180deg);}
.edit-address .pay-btn{background: #3F3B39;color: #fff;font-size: 28px;width: 320px;line-height: 60px;text-align: center;border-radius: 35px;margin: auto;cursor: pointer;letter-spacing: 5px;}

.edit-address input[type='checkbox'].switch{margin-top: 20px;position: relative;width: 65px;height: 32px;background: #EAEAEA;border-radius: 18px;outline: none;
    transition: border-color .3s, background-color .3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.edit-address input[type='checkbox'].switch::after {content: '';display: inline-block;width: 29px;height:29px;border-radius: 50%;background: #fff;box-shadow: 0, 0, 2px, #999;transition:.4s;top: 2px;position: absolute;left: 1px;}
.edit-address input[type='checkbox'].switch:checked {background: #E4C08F;}
.edit-address input[type='checkbox'].switch:checked::after {content: '';position: absolute;left: 54%;top: 2px;}



/* media query */
@media only screen and (min-width:1599px) {
    .index .pic img{width: 720px;}
}
@media only screen and (max-width:1599px) {
    header .search{height: 42px;width: 320px;margin-top: -1px;}
    header .nav li{padding: 0 8px;margin: 0 5px;font-size: 18px;line-height: 42px;}

    .box-lg h2{font-size: 42px;}
    .box-lg .ctn{font-size: 18px;line-height: 42px;letter-spacing: 2px;}
    .slick-arrow{width: 72px;height: 72px;background-size: cover;}


    .index h1{font-size: 48px;letter-spacing: 4px;}
    .index h1:first-child{margin-top: 14%;}
    .index p{font-size: 24px;margin-bottom: 30px;}

    .notice .list .box{margin-bottom: 20px;padding: 20px;font-size: 20px;}

    .product .left .box-lg{    padding: 30px 30px;}
    .product .left .box-lg h2{font-size: 40px;letter-spacing: 0.1em;}
    .product .right .pic{padding-top: 0;}

    .play-show .item .box-lg{padding: 25px 25px;}
    .play-show .box-lg h2{margin-bottom: 10px;}
    .play-show .box-lg .ctn{font-size: 16px;line-height: 32px;letter-spacing: 0;max-height: 200px;}
    .play-show .item .slick-prev{bottom: -100px;}

    .buy .left .tit{font-size: 28px;}
    .buy .left .slick-prev{right: 66px;bottom: 55px;}
    .buy .left .slick-next{right: 66px;bottom: -8px;}


    .contact .container{padding: 30px;}
    .contact .left h3{padding-left: 50px;padding-bottom: 50px;}
    .contact .left li{padding-left: 50px;padding-bottom: 15px;font-size: 18px;}
    .contact .middle{margin-top: 10px;}
    .contact .right .qcode{margin: 0;padding-right: 0px;}
    .contact .right .qcode img{width: 120px;}

}


@media only screen and (max-width:1399px) {
    .box-lg h2 {font-size: 34px;}
    .box-lg .ctn{font-size: 16px;line-height: 28px;}

    .product .left .box-lg h2{margin-bottom: 10px;font-size: 32px;}
    .product .right .slick{margin: 0 25px;}

    .play-show .container {padding: 30px 50px;}
    .play-show .item .left{width: 40%;}
    .play-show .item .slick-prev {bottom: -30px;}
    .play-show .item .box-lg{padding: 20px;border-radius: 30px;border-width: 15px;}
    .play-show .tab-nav{margin-left: 54%;}

    .buy .right{margin-top: 0;}
    .buy .right h2{font-size: 28px;line-height: 36px;}
    .buy .right .sub-tit{margin-top: 8px;padding: 15px 0;}
    .buy .right .price font {font-size: 28px;}

    .buy .right .tab-nav { margin: 20px 0; }
    .buy .right .tab-nav li{padding: 5px 30px;font-size: 18px;}
    .buy .right .tab-item img { max-width: 100px;}
    .buy .right .num { margin-top: 15px;}

    .contact .middle{margin-top: 0;}
    .contact .right .qcode:first-child{margin-bottom: 30px;}
}

@media only screen and (max-width:1272px) {
    header{padding: 25px 10px;}
    header .logo,header .mid{flex: 1;}
    header .nav{flex: 2;}
    header .nav li{padding: 0 4px;margin: 0;font-size: 16px;}
}

@media only screen and (max-width:1052px) {
    .notice .list{min-width: 300px;width: calc(100% - 520px);}
}