header{display: flex;justify-content: space-between;padding: 25px 50px;}
header .mid{display: flex;justify-content: center;}
header .mid .phone{margin-right: 20px;}
header .search{height: 42px;width: 420px;border: 1px solid #BE946D;white-space: nowrap;overflow: hidden;}
header .search .text{height: 100%;width: calc(100% - 74px);border: none;vertical-align: top;padding-left: 10px;font-size: 15px;}
header .search .btn{height: 100%;width: 60px;border: none;background: #e3d0bd url(../images/search.png) center center no-repeat;}
header .nav{display: flex;justify-content: space-around;}
header .nav li{padding: 0 15px;margin-right: 2em;font-size: 20px;line-height: 42px;}
header .nav li:last-child{margin-right: 0;}
header .nav li:hover,
header .nav li.on{background:#e3d0bd;}
header .nav li a:hover{color:#BE946D;}
.language{position: fixed;bottom: 30px;right: 30px;cursor: pointer;}


.container{padding: 30px;}
.bg{background-position:100%;background-repeat: no-repeat;background-size: cover;height: calc(100% - 94px);}
.box{background: #fff;border:10px solid rgba(237, 224, 213,0.8);border-radius: 10px;box-shadow: 4px 2px 5px rgba(153,105,51,0.75);}
.box-lg{background: #fff;border:25px solid rgba(237, 224, 213,0.8);border-radius: 50px;box-shadow: 6px 15px 20px rgba(153,105,51,0.75);}
.box-lg h2{font-size: 46px;font-weight: lighter;letter-spacing: 10px;margin-bottom: 30px;font-family: '宋体';}
.box-lg .ctn{font-size: 20px;line-height: 48px;letter-spacing: 5px;color: #ab9478;}
.btn-gold{background: url(../images/icon32.png) center no-repeat;background-size: cover;width: 276px;height: 46px;border-radius: 12px;line-height: 46px;color: #fff;box-shadow: 0px 5px 15px#deb06a;display: inline-block;}

.slick-arrow{font-size: 0;cursor: pointer;background-repeat: no-repeat;background-color: transparent;border: none;width: 113px;height: 113px;position: absolute;z-index: 2;}
.slick-prev{background-image: url(../images/arrl.png);left: 0;}
.slick-next{background-image: url(../images/arrr.png);right: 0px;}


/* login */
.login .container{padding: 7em 30px 0;}
.login .left{display: inline-block;width: 59%;text-align: center;}
.login .right{display: inline-block;width: 40%;vertical-align: top;}
.login .right .panel{margin-right: 19em;margin-top: 4em;text-align: center;background: #e8e1dd;position: relative;border-radius: 20px;padding: 6em 5em 4em;}
.login .right .panel .user-pic{position: absolute;left: 50%;top: -65px;transform: translateX(-75px);}
.login .right .tab-nav li{border-bottom: 2px solid #e8e1dd;color: #c29b77;line-height: 26px;margin-right: 20px;}
.login .right .tab-nav li.on{border-bottom-color:#be956e;}
.login .right .tab-item{margin-top: 3em;text-align: left;}
.login .right .el-form{background: #fff;border-radius: 12px;box-shadow: 4px 8px 15px #cdae90;padding: 10px 15px;margin-bottom: 3em;line-height: 30px;}
.login .right .el-form .icon{vertical-align: middle;border-right: 2px solid #c0c0c0;padding-right: 10px;display: inline-block;height: 16px;margin-right: 10px;}
.login .right .el-form .icon img{margin-top: -6px;}
.login .right .el-form input{border: none;width:64%;}
.login .right .el-form .link{font-size: 12px;}
.login .right .go-login{font-size: 18px;letter-spacing: 20px;margin: 20px;display: inline-block;}
.login .right .tips{font-size: 12px;color: #c6a281;}
.login .right .tips.m-b{margin-bottom: 30px;}
.login .right .tips a{display: inline-block;padding:0 10px;}
.login .right .login-way{display: flex;margin-top: 4em;}
.login .right .login-way li{border: 1px solid #c6a383;border-radius: 8px;padding: 0px 10px;margin: 2px;line-height: 36px;}
.login .right .login-way li img{vertical-align: middle;margin-right: 5px;}


/* index */
.index{background-image: url(../images/bg1.png);}
.index .container{width: 36%;text-align: center;padding-left: 10%;}
.index h1{font-size: 68px;font-weight: 300;text-align: right;letter-spacing: 8px;margin-bottom: 20px;}
.index h1:first-child{margin-top: 24%;text-align: left;}
.index p{font-size: 32px;margin-bottom: 80px;}
.index .btn-gold{font-size: 30px;letter-spacing: 10px;height: 70px;width: 300px;line-height: 70px;font-weight: lighter;}

/* notice */
.notice{background-image: url(../images/bg2.png);}
.notice .list{width: 50%;padding: 5% 0 0 37%;}
.notice .list .box{margin-bottom: 50px;padding: 30px;font-size: 22px;}
.notice .list span{font-size: 14px;color: #ababab;float: right;}

.notice-detail{background-image: url(../images/bg3.png);}
.notice-detail .container{padding: 3% 12%;}
.notice-detail h1{font-size: 56px;color: #754C24;font-weight: lighter;text-align: center;letter-spacing: 0.4em;margin: 10px 0 40px;}
.notice-detail .box-lg{padding: 20px 40px 40px;text-align: center;}
.notice-detail .time{text-align: right;}
.notice-detail h2{font-size: 32px;color: #603813;font-weight: normal;margin-bottom: 25px;}
.notice-detail p{font-size: 18px;color: #846239;line-height: 40px;text-align: left;text-indent: 2em;letter-spacing: 4px;}
.notice-detail .link{display: inline-block;background: #BE946D;color: #fff;padding: 10px 25px;font-size: 18px;border-radius: 10px;letter-spacing: 8px;margin-top: 20px;}

/* forum */
.forum{background-image: url(../images/bg8.png);background-repeat: repeat-y;background-position: left top;min-height: calc(100% - 94px);height: auto;}
.forum .dk{vertical-align: top;transition: all 0.5s Linear;margin-top: 45px;}
.forum .left{width:355px;overflow: hidden;background: #DBC091;border-radius: 36px;text-align: center;padding: 3em 3em 4em 4em;box-sizing: border-box;white-space: nowrap;}
.forum .left.open{width: 0%;padding: 0;min-height: 750px;}
.forum .left .name{margin: 20px 0 50px 70px;text-align: left;font-family: '宋体';}
.forum .left h3{font-size: 28px;font-weight: normal;letter-spacing: 4px;margin-bottom: 10px;}
.forum .left .static{display: flex;justify-content: space-between;line-height: 32px;margin-bottom: 3em;}
.forum .left .static li .num{color:#754C24;font-size: 28px;display: block;font-weight: 600;margin-bottom: 10px;}
.forum .left .menu li{text-align: left;border: 1px dashed #a98f66;padding: 10px 20px;border-radius: 10px;margin: 15px;font-size: 18px;line-height: 36px;}
.forum .left .menu li img{vertical-align: middle;margin-right: 10px;}
.forum .left .menu li font{float: right;font-size: 14px;}
.forum .left .btn-gold{margin-top: 4.5em;width: 180px;font-size: 18px;font-family: '宋体';letter-spacing: 3px;}
.forum .left .btn-gold img{vertical-align: middle;margin-right: 20px;}

.forum .right{width: calc(100% - 360px);padding: 0px 10%;box-sizing: border-box;position: relative;}
.forum .right.open{width: 98%;}
.forum .right .folder{position: absolute;left: -25px;top: 25em;transition: all 0.5s Linear;}
.forum .right.open .folder{transform: rotateZ(180deg);left: -10px;}
.forum .right .top{justify-content: space-between;display: flex;border-bottom: 20px solid #e2cbaf;padding-bottom: 10px;margin-bottom: 3em;}
.forum .right .tab-nav{display: flex;font-size: 18px;align-items: flex-end;}
.forum .right .tab-nav li{color: #754c24;border: 2px solid #754c24;margin: 6px;border-radius: 10px;padding: 1px 20px;line-height: 36px;height: 36px;}
.forum .right .tab-nav li.on{color: #fff;background: #754c24;}
.forum .right .box-lg{border: 20px solid rgba(237, 224, 213,0.8);border-radius: 30px;box-shadow: 10px 10px 20px rgba(153,105,51,0.55);padding: 30px 30px 0;display: flex;margin-bottom: 35px;}
.forum .right .uer-pic{width: 120px;margin-top: -15px;}
.forum .right .uer-info{width: calc(100% - 120px);}
.forum .right .uer-info h3{font-size: 28px;font-weight: normal;letter-spacing: 4px;margin-bottom: 10px;font-family: '宋体';}
.forum .right .uer-info .time{color: #999;}
.forum .right .uer-info .ctn{line-height: 24px;margin: 25px 0;color: #a78f71;font-size: 18px;}
.forum .right .pic-list .img{margin-right: 10px;display: inline-block;width: 120px;height: 120px;background: #f1e7de;}
.forum .right .uer-info .options{display: flex;justify-content: flex-end;margin-top: 2em;align-items: baseline;color: #ababab;}
.forum .right .uer-info .options li{font-size: 16px;padding: 20px;    cursor: pointer;}
.forum .right .uer-info .options img{margin-right: 8px;vertical-align: bottom;}
.forum .right .uer-info .options font{margin-left: 8px;}














/* product */
.product{background-image: url(../images/bg5.png);}
.product .left{display: inline-block;width: 54%;vertical-align: top;}
.product .left .box-lg{margin: 8% 2% 0 8%;padding: 35px 40px;}
.product .left .box-lg h2{letter-spacing: 0.25em;}
.product .left .box-lg .ctn{text-indent: 2em;}
.product .right{display: inline-block;width: 45%;overflow: hidden;}
.product .right .slick{position: relative;margin: 25px;}
.product .right .pic{display: inline-block;padding: 80px 0.7% 0;text-align: center;}
.product .right .slick-prev{bottom: 70px;}
.product .right .slick-next{right: 30px;bottom: 80px;}

/* play-show */
.play-show{background-image: url(../images/bg6.png);}
.play-show .container{padding: 50px 100px;}
.play-show .item .df{justify-content: space-between;}
.play-show .item .left{width: 43%;}
.play-show .item .left > div{position: relative;padding-left: 11%;}
.play-show .item .slick-list{overflow: hidden;}
.play-show .item .slick-prev{bottom: -160px;left: 15px;}
.play-show .item .slick-next{top: 100px;right: -30px;}
.play-show .item .box-lg{width: 43%;padding: 35px 40px;}
.play-show .tab-nav{display: flex;margin-left: 50%;font-size: 24px;align-items: center;letter-spacing: 0.35em;color: #8e6d4c;margin-top: 15px;}
.play-show .tab-nav li{padding-right: 30px;cursor: pointer;}
.play-show .tab-nav .on{font-size: 32px;}

/* buy */
.buy{background-image: url(../images/bg4.png);}
.buy .container{padding: 0;height: 100%;}
.buy .left{display: inline-block;width: 44.5%;overflow: hidden;height: calc(100% - 5px);position: relative;}
.buy .left .tit{writing-mode: vertical-lr;color: #f2e9e0;font-size: 44px;font-weight: bold;position: absolute;}
.buy .left .tit:first-child{left: 18%;bottom: 0;}
.buy .left .tit:last-child{right: 7%;top: 10px;}
.buy .left .slick{padding: 20% 15% 20% 27%;}
.buy .left .slick img{margin: 15px;}
.buy .left .slick-prev {background-image: url(../images/arrt.png);right: 60px;bottom: 140px;left: auto;}
.buy .left .slick-next {background-image: url(../images/arrb.png);right: 60px;bottom: 45px;}

.buy .right{display: inline-block;width: 55%;box-sizing: border-box;vertical-align: top;margin-top: 4em;font-family: '宋体';padding-left: 50px;}
.buy .right h2{font-size: 36px;color: #91724e;letter-spacing: 5px;line-height: 60px;}
.buy .right .sub-tit{position: relative;margin-top: 20px;padding: 25px 0;}
.buy .right .sub-tit::before{content: '';width: 100px;height: 4px;position: absolute;top: 0;left: 0;background: #846239;}
.buy .right .price{background: url(../images/bg10.png) 0 0 no-repeat;width: 78.2%;line-height: 48px;font-size: 18px;padding: 5px 20px;color: #a98f66;}
.buy .right .price font{font-size: 36px;letter-spacing: 3px;}
.buy .right .tab-nav{margin: 40px 0 25px;}
.buy .right .tab-nav li{display: inline-block;border: 1px solid #846239;border-radius: 15px;padding: 15px 50px;cursor: pointer;font-size: 20px;letter-spacing: 4px;margin-right: 20px;}
.buy .right .tab-nav li.on{border-width: 4px;}
.buy .right .tab-item img{max-width: 150px;margin-right: 15px;}
.buy .right .num{margin-top: 30px;margin-left: -60px;font-size: 16px;color: #846239;display: inline-block;position: relative;}
.buy .right .num input{border: 1px solid #e4d7c8;line-height: 32px;padding: 5px 10px;width: 32px;font-size: 25px;text-align: center;margin-left:10px;color: #846239;}
.buy .right .num .iconfont{border: 1px solid #e4d7c8;padding: 2px 5px;position: absolute;right: 26px;line-height: 18px;cursor: pointer;}
.buy .right .num .iconfont:first-child{top: 0;}
.buy .right .num .iconfont:last-child{bottom: 0;}
.buy .right .go-buy{padding: 10px;margin-left: -13px;margin-top: 20px;display: inline-block;}
.buy .right .btn-gold{text-align: center;font-size: 24px;letter-spacing: 0.5em;height: 56px;line-height: 60px;}

/* contact us */
.contact{background-image: url(../images/bg7.png);}
.contact .container{display: flex;padding: 40px;align-items: center;}
.contact .left{flex: 2;font-family: 'YouYuan';}
.contact .left h3{font-size: 36px;padding-left: 20%;padding-bottom: 70px;font-weight: 400;letter-spacing: 0.25em;}
.contact .left li{font-size: 20px;padding-bottom: 25px;padding-left: 20%;}
.contact .left li > span{display: inline-block;width: 62px;vertical-align: middle;padding-right: 40px;}
.contact .middle{flex: 2;margin-top: 150px;}
.contact .right{flex: 1;text-align: center;}
.contact .right .qcode{margin-top: 20px;padding-right: 120px;}
.contact .right .qcode:first-child{margin-bottom: 130px;}
.contact .right h5{font-size: 16px;margin: 30px 0 10px;}


/* media query */
@media only screen and (max-width:1599px) {
    header .search{height: 42px;width: 320px;}
    header .nav li{padding: 0 8px;margin: 0 5px;font-size: 18px;line-height: 42px;}

    .box-lg h2{font-size: 42px;}
    .box-lg .ctn{font-size: 18px;line-height: 42px;letter-spacing: 2px;}

    .index h1{font-size: 48px;letter-spacing: 4px;}
    .index h1:first-child{margin-top: 14%;}
    .index p{font-size: 24px;margin-bottom: 30px;}

    .notice .list .box{margin-bottom: 20px;padding: 20px;font-size: 20px;}

    .product .left .box-lg{    padding: 30px 30px;}
    .product .left .box-lg h2{font-size: 40px;letter-spacing: 0.1em;}
    .product .right .pic{padding-top: 0;}

    .play-show .item .box-lg{padding: 25px 25px;}
    .play-show .box-lg h2{margin-bottom: 10px;}
    .play-show .box-lg .ctn{font-size: 16px;line-height: 32px;letter-spacing: 0;}
    .play-show .item .slick-prev{bottom: -100px;}

    .contact .container{padding: 30px;}
    .contact .left h3{padding-left: 50px;padding-bottom: 50px;}
    .contact .left li{padding-left: 50px;padding-bottom: 15px;font-size: 18px;}
    .contact .middle{margin-top: 10px;}
    .contact .right .qcode{margin: 0;padding-right: 0px;}
    .contact .right .qcode img{width: 120px;}

}


@media only screen and (max-width:1399px) {
    .contact .middle{margin-top: 0;}
    .contact .right .qcode:first-child{margin-bottom: 30px;}
}